/* bookphotobutton.css အပိုင်း အစ */
.btn-box {
    text-align: center;
    margin-top: 20px;
}

.read-btn-style {
    display: inline-block;
    padding: 12px 40px;
    background-color: #FFD700; /* ရွှေဝါရောင် */
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
/* bookphotobutton.css အပိုင်း အဆုံး */
